
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 justify-content-center">
      <div class="table-responsive">
        <h3>{{issuesDetail?.full_name}}</h3>

        <div class="input-group">
          <span class="input-group-text">Search</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{issuesDetail?.open_issues }}Open</th>
              <th>{{issuesDetail?.network_count }}Close</th>
              <th>Issues Title</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let issue of itemList">
              <td></td>
              <td></td>
              <td>{{issue.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
